body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}
a {
  text-decoration: none;
  color: #F5f5f5;
}
.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  width: 100%;
  height: 90vh;
  /* Adjust the height as needed */
}

.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.scroll-active {
  background: rgba(0, 0, 0, 0.8);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px !important;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  z-index: 1000;
  /* Ensure the header appears on top */
  transition: background-color 0.5s ease;
}

/* Navigation */
.header-mid {
  width: 33.3%;
  display: flex;
  color: white;
  justify-content: center;
  text-align: center;
  height: 100%;
  align-items: center;
}

.header-mid .selection {
  display: flex;
  width: 33.3%;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  cursor: pointer;
  vertical-align: middle;
  margin: 0;
  height: 100%;
  border: 2px solid rgba(0, 0, 0, 0.0);
  transition: 0.5s;
}

.selection:hover {
  border-bottom: 2px solid #ccc;
  border-top: 0;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
}

.header-left {
  width: 33.3%;
}

.header-left img {
  width: 200px;
  height: 51px;
}

.header-right {
  width: 33.3%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  margin-right: 10px;
}

/* Search Box */
.searchbar {
  width: 100%;
  max-width: 400px;
}

.search-box {
  position: relative;
  width: 50px;
  height: 51px;
  margin-left: auto;
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}

.search-box input {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0);
  outline: none;
  border: none;
  padding-left: 20px;
  font-size: 18px;
}

.search-box input::placeholder {
  visibility: hidden;
}

.search-box .icon {
  position: absolute;
  right: -2px;
  top: 0;
  width: 51px;
  background: rgba(0, 0, 0, 0.0);
  border: #ccc 1px solid;
  height: 100%;
  text-align: center;
  line-height: 50px;
  color: #ccc;
  border-radius: 25px;
  cursor: pointer;
}

.search-box .icon:hover {
  background: rgb(204, 204, 204, 0.2);
}

#check:checked~.search-box {
  width: 250px;
  border: #ccc 1px solid;
}

#check:checked~.search-box input {
  color: #ccc;
}

#check:checked~.search-box input::placeholder {
  visibility: inherit;
  color: #ccc;
}

#check:checked~.search-box .icon {
  border-radius: 0 25px 25px 0;
  width: 50px;
  border-top: 0;
}

#check {
  display: none;
}

/* Sign In Button */
.sign-in_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  border: #ccc 1px solid;
  color: #ccc;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 400;
  margin-left: 12px;
  transition: 0.5s;
}

.is-signin {
  display: none;
}

.sign-in_btn:hover {
  background: rgb(204, 204, 204, 0.2);
}

.sign-in_btn p {
  margin: 0;
}

.dropdown-account {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 51px;
  padding: 0px 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  border: #ccc 1px solid;
  color: #ccc;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 400;
  margin-left: 12px;
  transition: 0.5s;
  background: transparent;
}

.dropdown-account:hover {
  background: rgb(204, 204, 204, 0.2);
}

.dropdown-account:focus {
  background: rgb(204, 204, 204, 0.2);
  outline: none;
}

.dropdown-item i {
  margin-right: 10px;
}

/* Slider CSS */
.web_container {
  scroll-behavior: auto;
}

.carousel-inner::after {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 20rem rgba(0, 0, 0, 1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.carousel-inner {
  z-index: 0;
  height: 100vh !important;
}

.carousel-item {
  height: 100%;
  overflow: hidden;
}

.carousel-item video {
  height: 100%;
  width: 100%;
  transform: scale(1.45);
}

.carousel-caption {
  position: absolute;
  width: 50%;
  margin: auto;
  top: 30%;
  z-index: 2;
}

.carousel-caption h1 {
  color: #FFF;
  font-size: 80px;
  font-weight: 600;
  font-family: 'Figtree', sans-serif;
  letter-spacing: 5px;
}

.carousel-decor {
  position: absolute;
  width: 200px;
  margin: auto;
  top: 40%;
  left: 80px;
  z-index: 2;
  text-align: center;
}

.carousel-decor h3 {
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Figtree', sans-serif;
  letter-spacing: 5px;
}

.carousel-movie_outer {
  width: 100%;
  display: flex !important;
  justify-content: center;
  gap: 10px;
  margin: auto;
  margin-top: 30px;
}

.carousel-movie_inner {
  padding: 10px;
  border: #FFF 1px solid;
  color: #FFF;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.carousel-movie_inner p {
  margin: 0;
}

.carousel-control-prev {
  position: absolute;
  width: 100px;
  height: 50px;
  border: #999 1px solid;
  color: #999;
  top: 85%;
  opacity: 1;
  left: 80px;
  border-radius: 15px;
  z-index: 4;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.carousel-control-next {
  position: absolute;
  width: 100px;
  height: 50px;
  border: #999 1px solid !important;
  color: #999;
  opacity: 1;
  top: 85%;
  left: 190px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  background: rgb(204, 204, 204, 0.2);
}

.carousel-watch_btn {
  position: absolute;
  padding: 10px 40px;
  height: 50px;
  border: #999 1px solid;
  top: 85%;
  right: 80px;
  border-radius: 15px;
  color: #999;
  font-weight: 500;
  z-index: 3;
  background: rgb(204, 204, 204, 0.1);
  transition: 0.5s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.carousel-watch_btn:hover {
  background: rgb(255, 255, 255, 0.4);
  color: #FFF;
  cursor: pointer;
}

.carousel-watch_btn p {
  margin: 0;
}

/* TV Shows */
.tvshows-outer {
  height: 100vh;
  width: 100%;
  background: #000;
  padding-top: 80px;
}

.tvshows-toptrend_wrapper {
  width: 1400px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.tvshows-toptrend_wrapper .tvshows-toptrend_item_outer {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  flex: none;
}
.tvshows-toptrend_item_outer .tvshows-toptrend_item {
  background: wheat;
  width:100%;
  transition: transform 0.5s;
  filter: grayscale(100%);
}
.tvshows-toptrend_item_outer .tvshows-toptrend_item:hover {
  filter: grayscale(0);
  cursor: pointer;
  transform: scale(1.1);
}
.tvshows-toptrend_wrapper::-webkit-scrollbar {
  display: none;
}
/* Movies */
.movies-outer {
  height: 100vh;
  width: 100%;
  background: blue;
}